<div class="mt-8">
  <h2 class="text-lg font-medium text-gray-800" id="education">Educación</h2>
</div>
<!-- Grid -->
<div class="mt-5 grid grid-cols-1 sm:grid-cols-2 gap-3">
  <div class="p-4 border border-gray-200 rounded-lg">
      <img class="size-16" src="assets/descarga.png" alt="logo">
    <h3 class="mb-1 text-xs text-gray-600">
      2015 - 2023
    </h3>

    <p class="font-semibold text-sm text-gray-800">
      Ingenieria de Sistemas
    </p>

    <p class="mt-1 text-sm text-gray-600">
      Universidad de La Guajira
    </p>
  </div>

  <div class="p-4 border border-gray-200 rounded-lg">
    <img class="size-16" src="assets/inedimacg.jpg" alt="logo">
    <h3 class="mb-1 text-xs text-gray-600">
      2004 - 2009
    </h3>

    <p class="font-semibold text-sm text-gray-800">
      Bachiller Academico
    </p>

    <p class="mt-1 text-sm text-gray-600">
      Institucion Educativa Isabel Maria Cuesta Gonzalez
    </p>
  </div>
</div>
<!-- End Grid -->
