<!-- Timeline -->
<div class="mt-8" id="experience">
  <h2 class="text-lg font-medium text-gray-800">
    Experiencia
  </h2>
  <!-- Item -->
  <div class=" mt-5 group relative flex gap-x-5">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img src="assets/super.png" alt="Logo">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">
        2023 - 2024
      </h3>

      <p>
        Superintendencia de Vigilancia y Seguridad Privada
      </p>

      <p class="font-semibold text-sm text-gray-800">
        Ingeniero de Sistemas
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5 text-justify">
        <li class="ps-1 text-sm text-gray-600">
          Prestar servicios de apoyo a la gestión para fortalecer la ejecución de
          las actividades propias de la superintendencia de vigilancia y
          seguridad privada, en marco del proyecto de inversión denominado
          implementación de un sistema de toma de decisiones, para el
          mejoramiento de los tiempos de respuesta de los trámites y procesos
          administrativos de la Superintendencia de Vigilancia y Seguridad
          Privada.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Prestar servicios de apoyo a la gestión en el grupo de gestión
          documental, para la organización y clasificación de los documentos
          que se producen en la Superintendencia de Vigilancia y Seguridad
          Privada.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div
      class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <img src="assets/gobernacion.jpg" alt="Logo">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600">
        2022
      </h3>

      <p>
        Gobernación de La Guajira
      </p>

      <p class="font-semibold text-sm text-gray-800">
        Practicante de Ingenieria de Sistemas
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-600">
          Diseñar, implementar y mantener sistemas de software y hardware.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Optimizar el procesamiento y gestión de información.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Diseñar y administrar redes de computadoras.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Desarrollar aplicaciones y soluciones software.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Gestionar proyectos y equipos multidisciplinarios.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Realizar análisis de sistemas y procesos.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Evaluar y proponer mejoras en sistemas informáticos.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Comunicar la información técnica de manera clara y efectiva.
        </li>
        <li class="ps-1 text-sm text-gray-600">
          Mantener la seguridad de la información y los sistemas.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->
